<section class="info">
 <h1>My paycheck calculator</h1>
 <form class="payCalc">
  <fieldset>
   <input id="checkAmount" type="text" placeholder="Check Amount" />
  </fieldset>

  <fieldset>
   <input id="taxes" type="text" placeholder="Taxes %" />
  </fieldset>

  <fieldset>
   <input id="retirement" type="text" placeholder="Retirement %" />
  </fieldset>

  <fieldset>
   <input id="myPay" type="text" placeholder="My Pay %" />
  </fieldset>
 </form>
</section>
<section class="results"></section>
