<header class="menu-bar">
  <div id="menuIcon" class="menu-icon">
    <i class="fas fa-bars icon"></i>
  </div>

  <a href="/">
    <h3 class="page-title">{{ config.title }}</h3>
  </a>

  <span class="dm-icon">
    <i class="fas fa-sun icon"></i>
  </span>

</header>
