body {
  background-color: var(--body-bg);
  height: 100vh;
  width: 100vw;
  font-size: 1.8rem;
  color: var(--text-color);
  font-family: $text-fonts;
  display: flex;
  flex-direction: column;
}

body.light-mode {
  --body-bg: #{$white};
  --menu-bg: #{$grey};
  --text-color: #{$black};
  --sun: #{$dark};
}
