<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    {% include "components/announcement.njk" %}
    {% include "components/header.njk" %}
    {% include "components/main.njk" %}
    {% include "components/footer.njk" %}
  </body>
</html>
